a(href='/contact') contact
a.button(href='/save') save
a(foo, bar, baz)
a(foo='foo, bar, baz', bar=1)
bar = if(true) "1" else "0"
a(foo='((foo))', bar= bar )
select
  option(value='foo', selected) Foo
  option(selected, value='bar') Bar
a(foo="class:")
input(pattern='\S+')