


- case class User(name: String, friends: List[String] = Nil, age: Int = 30)
users = List[User]()
ul
  for user in users
    li= user.name
  else
    li no users!

users2 = User("tobi", "loki" :: Nil) :: User("loki") :: Nil

unless users2.isEmpty
  ul
    for user in users2
      li= user.name
    else
      li no users!

users3 = List[User]()
ul
  for user in users3
    li= user.name
  else
    li no users!