
mixin article1(name: String)
  section.article
    h1= name
    block

html
  body
    +article1("Foo"): p I'm article foo

mixin article2(name: String)
  section.article
    h1= name
    p
      block

html
  body
    +article2("Something").
      I'm a much longer
      text-only article,
      but you can still
      inline html tags
      in me if you want.